body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 22px;
  margin: 0;
  padding: 0;
}

.holder {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  color: blue;
  font-weight: 400;
  font-size: 24px;
}

header {
  background-color: #f8f8f8;
  padding: 10px 0;
  border-bottom: 1px solid #e7e7e7;
}

header h1 {
  color: white;
  font-size: 45px;
  font-weight: 100;
  font-style: italic;
  display: inline-block;
  position: relative;
  bottom: 30px;
  margin-right: 5px;
}

nav {
  background-color: #333;
  margin-bottom: 25px;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  flex-grow: 1;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #111;
}

nav ul li a.active {
  background-color: #4CAF50;
}

footer {
  background-color: #f8f8f8;
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e7e7e7;
  margin-top: 25px;
}

